.apbar:hover{
    opacity:1;
}

.description{

    border:2px groove brown;
    border-radius: 5px;
        margin:30px;
        margin-top: 90px;
        overflow: hidden;
        font-family: 'Big Shoulders Display', cursive;
        font-size:20px;
        font-style: oblique;
        font-weight:800;
        margin-bottom: 30px;
}

#vid{
    position:fixed;
    z-index: -1;
}
.tea{

    margin-top: 90px;
    overflow: hidden;
    margin-bottom: 30px;
}
.nam{
z-index:-0.5;
}


.circle{
    background-image: url("lo.jpg");
    width:120px;
    height:120px;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin:10px;

}